@use'variables';
@use 'inicial';
@use 'mixins';


.main-container{
    // border: 1px solid red;
    width: 375px;
    margin: auto;
    &__background-section{
        position: relative;
        background-image:url("../images/bg-main-mobile.png");
        height: 240px;
        background-repeat: no-repeat;
    }
    &__form-section{
        padding: 90px 24px 45px;
    }
    @media (min-width:1440px) {
        width: 1440px;
        display: flex;
        &__background-section{
            background-image: url("../images/bg-main-desktop.png");
            width: 900px;
            height: 900px;
        }
    }
}
.card{
    @include mixins.card('../images/bg-card-front.png');
    @include mixins.card-position(126px,18px, 187px,167px);
    z-index: 1;
    letter-spacing: 2px;
    &__logo{
        width: 55px;
        margin-bottom: 30px;
    }
    &__number{
        margin-bottom: 30px;
    }
    &__details{
        display: flex;
        justify-content: space-between;
        font-size: 0.6em;
        text-transform: uppercase;
    }
    @media (min-width:1440px) {
        &__logo{
            width: 86px;
            margin-bottom: 55px;
        }
    }
}

.card-back{
    @include mixins.card('../images/bg-card-back.png');
    @include mixins.card-position(30px,75px,468px, 257px);
    letter-spacing: 2px;
    &__cvc{
        font-size: 0.7rem;
        margin-top: 50px;
        text-align: right;
        padding-right: 10px;
        @media (min-width:1440px) {
            font-size: 1rem;
            margin-top: 80px;            
            padding-right: 30px;
        }
    }
}

.form{
    display: none;
    &__label{
        // border: 1px solid red;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 2px;
        display: block;
        margin-bottom: 8px;
        color: variables.$Very-dark-violet;
        font-weight: bold;
    }
    &__input{
        width: 100%;
        height: 40px;
        margin-bottom: 18px;
        border-radius: 4px;
        font-family: variables.$font;
        border: 1px solid variables.$Light-grayish-violet;
        padding-left: 10px;
        font-size: 1em;
        outline: none;
        &::placeholder{
            color:variables.$Light-grayish-violet;
        }
    }
    &__date-cvc{
        // border: 2px solid blue;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0 16px;
    }
    &__date{
        display: flex;
        gap:   10px;
    }
    &__submit{
        background-color: variables.$Very-dark-violet;
        color: variables.$Light-grayish-violet;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        font-size: 1em;
        letter-spacing: 1px;
        font-family: variables.$font;
        &:hover{
            cursor: pointer;
        }
    }
    @media (min-width:1440px) {
        margin-top: 180px;
        width: 385px;
        &__input{
            margin-bottom: 40px;
        }
    }
}
.error{
    color: variables.$Red;
    margin: -10px 0 18px;
    font-size: 0.6em;
}
.form__errors-container{
    display: flex;
    gap: 5px;
}
.form__errors-container div{
    width: 100px;
    text-align: center;
}
.thanks-section{
    width: 375px;
    margin: auto;
    &__img{
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
    &__title{
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4px;
        font-weight: 400;
        color: variables.$Very-dark-violet;
        margin-bottom: 24px;
    }
    &__text{
        color: variables.$Dark-grayish-violet;
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 24px;
    }
    &__button{
        @extend .form__submit;
    }
    @media (min-width:1440px) {
        margin-top: 180px;
    }
}